@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------------------------------Colours*/
.bg-color-name-title {
    background-color: #676666da;
}

.ui-menu-color-home {
    background-color: #d68438;
}

.ui-menu-color-resume {
    background-color: #f1b24b;
}

.ui-menu-color-contact {
    background-color: #36846b;
}

.ui-menu-color-download {
    background-color: #4bb39a;
}
/*----------------------------------------------------------------Special Paddings/margins/text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color:#fafafa;
}

.inline-block {
    display: inline-block;
}

/*----------------------------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/photo_2023-09-09_18-05-43.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 360px;
    background-size: cover;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 50px;
    color:#ffff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}       

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*----------------------------------------------------------------Hover.css*/

.hvr-bounce-to-bottom::before {
    background-color: #22222267;
    height: 120px;
}

.cv-pdf i:hover {
    color:#f1b24b;
}

.social-links li a i:hover{
    background:#f1b24b;
}

/*----------------------------------------------------------------Footer*/

footer {
    background-color: #676666da;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 22px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.25s ease-in-out;
}

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    margin-left: 10px;
    width: 46px;
    height: 46px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 26px;
    line-height: 12px;
    text-align: center;
    color:#fafafa;
    background: #8f8f8f;
    transition: all 0.25s ease-in-out;
}

#footer-details {
    padding: 20px;
}